<!DOCTYPE html>
<html lang="kr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/registerStyle.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://webfontworld.github.io/Cafe24SsurroundAir/Cafe24SsurroundAir.css"
      rel="stylesheet"
    />
    <title>register</title>
  </head>
  <body>
    <div id="upLine">
      <i class="fa-brands fa-apple fa-lg" style="margin-left: 10px"></i>
      <span class="upLineText" id="upLineName"><b>register</b></span>
    </div>
    <div id="windows">
      <div id="filter">
        <!--윗 검은 줄-->
        <div id="status-bar">
          <div class="status_circle" id="red_circle"></div>
          <div class="status_circle" id="yellow_circle"></div>
          <div class="status_circle" id="green_circle"></div>
        </div>
        <div id="mainPage">
          <span id="helloMessage"></span>
          <div id="loginBackground">
            <div class="wrapper">
              <div class="cube">
                <div class="one"></div>
                <div class="two"></div>
                <div class="three"></div>
                <div class="four"></div>
                <div class="five"></div>
                <div class="six"></div>
              </div>
            </div>
            <!--text-->
            <span id="loginQuestion">Please enter your information</span>
            <form id="loginInputDiv">
              <input
                id="userNameInput"
                type="text"
                maxlength="15"
                placeholder="ID"
              />
              <input
                id="userNameInput"
                type="password"
                maxlength="15"
                placeholder="password"
              />
              <input
                id="userNameInput"
                type="password"
                maxlength="15"
                placeholder="comfirm-password"
              />
              <button id="button" class="button-3">submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      const button = document.getElementById('button');

      button.addEventListener('click', (event) => {
        event.preventDefault();
        alert('회원가입을 성공하셨습니다.');
        window.location.href = '/';
      });
    </script>
    <script src="js/background.js"></script>
  </body>
</html>
